:root {
    --white-main: #ffffff;
    --gray-secondary: #c0c0c0;
    --button-blue: #167bf7;
    --background-color: #00030c;
    --font-main: "Inter";
    --button-blue-effect: #3c92fa;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--white-main);
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 400;
}

.main {
    background-image: url(../img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.container__button {
    background-color: var(--button-blue);
    border-radius: 5px;
    padding: 1em;
    color: var(--white-main);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.button_secondary {
    background-color: transparent;
    border: 2px solid var(--white-main);
}

.container__warning {
    font-size: 12px;
    color: var(--gray-secondary);
}

.container__title {
    font-size: 28px;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

.secondary__image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.description__title {
    font-size: 48px;
    font-weight: 700;
    color: var(--white-main);
    margin-bottom: 0.1em;
}

.description__text {
    color: var(--gray-secondary);
}

.button_secondary_two {
    display: inline-block;
    margin-top: 1em;
}

.container__description {
    text-align: initial;
    margin-right: 3em;
}

.devices {
    text-align: center;
}

.devices__title {
    font-size: 48px;
    color: var(--white-main);
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.list__item {
    font-size: 32px;
    color: var(--white-main);
}

.baseboard__logo {
    display: block;
    margin: 0px auto;
}

.baseboard__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1em;
    margin: 3em 0;
}

.list__link a {
    text-decoration: none;
    color: var(--white-main);
    font-size: 16px;
}

.baseboard__text {
    text-align: center;
    font-size: 14px;
    margin: 2em 0;
    padding: 0 4em;
}

.list__link a:hover {
    color: var(--button-blue);
}

.list__link a:active {
    color: purple;
}

.container__button:hover {
    background-color: var(--button-blue-effect);
    color: var(--background-color);
}